.form{
    height: 28rem;
    width: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    border-radius: 1rem;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    /* background-color: white; */
}
/* .bg{
    background-image: url('https://c0.wallpaperflare.com/preview/352/710/333/agency-business-company-computer.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
} */

h2,
.icon{
    color: var(--primary-color);
    cursor: pointer;
}
.signUpButton{
    width: 90%;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    padding: 0.2rem;
    color: var(--white-color);
    cursor: pointer;
}
.signUpButton:hover{
    background-color: var(--secondary-color);
}
.inputContainer{
    width: 80%;
    display: flex;
    gap: 0.5rem;
    border-bottom: 2px solid var(--grey-color);
}
.passwordInput{
    width: 90%;
}
.errorMessage{
    color: red;
    font-size: 13px;
    font-weight: lighter;
}
.inputAndErrorContainer{
    width: 100%;
    margin-left: 4.5rem;
}
